[submodule "Perforce"]
	path = Perforce
	url = https://github.com/jackknobel/P4Scripts
[submodule "FastBuild"]
	path = FastBuild
	url = https://github.com/jackknobel/Unreal_FASTBuild
[submodule "JenkinsLibrary"]
	path = JenkinsLibrary
	url = https://github.com/jackknobel/JenkinsLibrary
